<launch>

  <include file="$(find kwj_description)/launch/gazebo.launch"/>

  <node pkg="kwj_localization" type="cmd_vel_to_odom" name="cmd_vel_to_odom"/>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true">
    <rosparam file="$(find kwj_localization)/config/ekf.yaml" command="load"/>
  </node>

  <node pkg="teleop_twist_keyboard" type="teleop_key.py" name="teleop_twist_keyboard" output="screen"/>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find kwj_localization)/rviz/odom_test.rviz" /> 

  <node name="map_server" pkg="map_server" type="map_server" args="$(find kwj_navigation)/map/map.yaml"/>


</launch>
